@{
    ViewBag.Title = "Contact";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        R. José Píres Neto<br />
        Cambuí, Campinas 13025-170<br />
        <abbr title="Phone">P:</abbr>
        (19) 3739-9600
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:pferreirafabricio@gmail.com">pferreirafabricio@gmail.com</a><br />
    </address>
</main>